body{
    padding: 0;
    margin: 0;
    background-color: lightgrey;
}
header{
    background-color: skyblue;

}
h1 {
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
}
.MenuButton{
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}
nav{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}
nav a{
    color: black;

}
h2{
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}
#Images img{
    border: 5px solid white;
    max-width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
#Images{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    justify-items: center;
}
footer{
    background-color: skyblue;
    display: block;
    height: 100px;

}
p{
    max-width: 300px;
    margin: 0 auto;
}
.hide{
    display: block;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

/* Media Queries */
@media screen and (max-width: 400px){
    nav{
        display: none;
    }
    .MenuButton{
        display: block;
    }
    #Images{
        grid-template-columns: auto;
        
    }

}
@media screen and (min-width:400px) and (max-width: 750px){
    nav{
        display: none;
    }
    .MenuButton{
        display: block;
    }
    #Images{
        grid-template-columns: auto auto;
        
    }

}
@media screen and (min-width: 750px){
    nav{
        display: block;

    }
    .MenuButton{
        display: none;
    }
    #Images{
        grid-template-columns: auto auto auto;
    }
}
