
* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
}

img {
    max-width: 100%;
}

.main-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.main-nav li {
    padding: 10px;
}

hr{
    margin-top: 50px;
}

@media screen and (min-width: 750px) {
    .media-card{
        display: flex;
        gap:20px;

    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
    }
    .gallery-container img{
        width: 200px;
    }
    .gallery-container .media-card-content{
        max-width: 400px
    }
}